@(title: String,deviceIdentifier: String, latitude:Double,longitude:Double )

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TREENA | @title</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="@routes.Assets.at("css/AdminLTE.css")" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVjqCtD_A0SBVCXwDJLpR5UUyUx5R145E"></script>
    </head>
    <body class="skin-green">
        <header class="header" onclick="centerDefault()">
            <a href="#main" class="logo">
                TREENA
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
            	&nbsp;
            </nav>
        </header>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <aside class="left-side sidebar-offcanvas">                
                <section class="sidebar">
                    <ul class="sidebar-menu">
                        <li>
                            <a href="#">
                                <span>Change Location</span>
                            </a>
                        </li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">                
                <!-- Main content -->
                <section class="content">
                	<div class="box">
						<div class="box-body">
							<div id="map-canvas"></div>
						</div>
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
        
<div class="modal fade" id="golden-tree-form" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Plot a Tree planting site</h4>
      </div>
      <div class="modal-body">
        <div class="row">
        	<form role="form">
		  		<div class="form-group">
		    		<label for="input-area-name">Areaname</label>
		    		<input type="text" class="form-control" id="input-area-name" placeholder="Enter name of Planting site">
		  		</div>
			</form>
	      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="plot()">Plot</button>
      </div>
    </div>
  </div>
</div>

        <script src="@routes.Assets.at("js/jquery.min.js")"></script>
        <script src="@routes.Assets.at("js/bootstrap.min.js")" type="text/javascript"></script>
		<script>
		var map;
		var lat;
		var lon;
		var marker;
		var latLng = new google.maps.LatLng(@latitude, @longitude);
		var markers = [];
		var image1 = {
		    url: '@routes.Assets.at("img/goldentree.png")'
		  };
		  var image2 = {
		    url: '@routes.Assets.at("img/greentree.png")'
		  };
		  var image3 = {
		    url: '@routes.Assets.at("img/dark3.png")'
		  };
		$(document).ready(function(){
	        var mapOptions = {
	                center: latLng,
	                zoom: 19,
	                scrollwheel: false,
	                panControl: true,
	                zoomControl: true,
	                mapTypeControl: false,
	                scaleControl: false,
	                streetViewControl: false,
	                overviewMapControl: false,
	                disableDoubleClickZoom: true,
	                mapTypeControlOptions: {
	                    mapTypeIds: [google.maps.MapTypeId.ROADMAP]
	                }
	        };
            map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
            renderTrees();
           marker= new google.maps.Marker({
					      position: latLng,
					      map: map,
					      title: '@deviceIdentifier'
					  });
			google.maps.event.addListener(map, "click", function (e) { 
               console.log("Double Click"); 
               console.log(e);
               lat = e.latLng.lat();
               lon = e.latLng.lng();
               $.post("/changelocation",
				{	lon:lon,
					lat:lat, 
					device:"@deviceIdentifier"
				},function(response){
					var newPosition = new google.maps.LatLng(lat,lon);
					marker.setPosition(newPosition);
					map.panTo(newPosition);
					renderTrees();
				});
            });
            
            $(".plant-site").click(function(){
            		var longitude = parseFloat($(this).attr('lon'));
            		var latitude = parseFloat($(this).attr('lat'));
            		map.panTo(new google.maps.LatLng(latitude, longitude));
            	});
                        
		});
		
		function centerDefault(){
            map.panTo(new google.maps.LatLng(14.563651, 120.994990));
		}
		
		
		function renderTrees(){
			var option0={   map: map,
					      	icon:image2,
							origin: new google.maps.Point(0,0),
    						anchor: new google.maps.Point(0, 32)
					  }
					  
			var option1={   map: map,
					      	icon:image1,
							origin: new google.maps.Point(0,0),
    						anchor: new google.maps.Point(0, 32)
					  }
		    
		    var shape = {
			      coords: [],
			      type: 'poly'
			};
			var option2={   map: map,
					      	icon:image3,
							origin: new google.maps.Point(0,0),
    						anchor: new google.maps.Point(0, 0),
    						shape:shape
					  }
					  
		
			$.get("/trees?did=@deviceIdentifier",function(response){
					var trees = response;
					for(var x = 0 ; x<markers.length;x++){
						var marker = markers[x];
						marker.setMap(null);
					}
					markers=[];
					for(var x = 0 ; x<trees.length;x++){
						var option = {};
						var tree = trees[x];
						if(tree.type == 0){
							option = option0;
						}else if(tree.type == 1){
							option = option1;
						}else {
							option = option2;
						}
						var mark = new google.maps.Marker(option);
						mark.setPosition( new google.maps.LatLng(tree.lat,tree.lon));
						markers.push(mark);	
					}
					
				},"json");
		}
		
		</script>
		
    </body>
</html>